<?xml version ="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "nttp://testng.org/testng-1.0.dtd">
<suite name = "DEMOQA">
    <test name = "openDEMOQAURL">
        <classes>
            <class name = "elementspage.test.demoQAElementsPageTextBoxTest">
                <methods>
                    <include name="openDemoQAURL" />
                    <include name="testElementsPageLinks" />
                    <include name="testElementsPageLinksOpen" />
                    <include name="testElementsPageTextBoxForm" />
                    <include name="testElementsPageTextBoxFormInvalidEmails" />
                </methods>
            </class>
            <class name= "elementspage.test.demoQAElementsPageCheckboxTest">
                <methods>
                    <include name="openDemoQAURL" />
                    <include name="testElementsPageLinks" />
                    <include name="testElementsPageLinksOpen" />
                    <include name="testElementPageCheckboxesAllSelected" />
                    <include name="testElementPageCheckboxesAllUnSelected" />
                    <include name="testElementPageCheckboxesPartiallySelected" />
                </methods>
            </class>
            <class name="elementspage.test.demoQAElementsPageRadioButtonTest">
                <methods>
                    <include name="openDemoQAURL" />
                    <include name="testElementsPageLinks" />
                    <include name="testElementsPageLinksOpen" />
                    <include name="testElementsPageYesRadioButton" />
                    <include name="testElementsPageImpressiveRadioButton" />
                    <include name="testElementsPageNoRadioButton" />
                </methods>
            </class>
            <class name="elementspage.test.demoQAElementsPageWebTablesTest">
                <methods>
                    <include name="openDemoQAURL" />
                    <include name="testElementsPageLinks" />
                    <include name="testElementsPageLinksOpen" />
                    <include name="testElementsPageWebTableResize" />
                    <include name="testElementsPageWebTableEdits" />
                    <include name="testElementsPageWebTableDelete" />
                    <include name="testElementsPageWebTableAdd" />
                    <include name="testElementsPageWebTableRecordsAdded" />
                </methods>
            </class>
            <class name = "elementspage.test.demoQAElementsPageButtonsTest">
                <methods>
                    <include name="openDemoQAURL" />
                    <include name="testElementsPageLinks" />
                    <include name="testElementsPageLinksOpen" />
                    <include name="testElementsPageButtons" />
                </methods>
            </class>
            <class name = "elementspage.test.demoQAElementsPageLinksTest">
                <methods>
                    <include name="confirmAPIResults" />
                </methods>
            </class>
        </classes>
    </test>
</suite>